/* style.css */

#music-widget {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

label {
    color: white;
    font-weight: bold;
}

progressbar trough, progressbar progress {
    border-radius: 3px;
}

progressbar progress {
    background-image: none;
    background-color: #1DB954; /* Spotify Green */
}

.control-button {
    background: transparent;
    border: none;
}

.control-button image {
    color: white;
}

.control-button:hover image {
    color: red;
}

#cava-widget {
    background-color: transparent;
}